.home {
    
    .hero {
        display: flex;
        color: #fff;

        height: calc(100vh);
        background-image: url(/assets/imgs/UpNorthNotary_Cortney.png);
        background-repeat: no-repeat;
        background-size: cover;

        .message {
            flex-basis: 60%;
            flex-grow: 0;
            flex-shrink: 1;
        }

        .empty {
            flex: 1;
            flex-basis: 40%;
        }
    }
}