html {
    text-size-adjust: 100%;
    -webkit-font-smooting: antialiased;
}

#root {
    .hero-wrapper {
        color: #fff;
        height: 60%;
        min-height: 550px;
        background-image: url(/assets/imgs/bright-autumn-forest-radial.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;

        >header {
            width: 100%;
            color: #fff;
    
            >* {
                display: inline-block;
            }
    
            nav {
                font-weight: 300;
                float: right;

                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            h1 {
                font-family: 'Alex Brush', cursive;
                font-size: 3rem;
            }

            h3,h4 {
                font-weight: 400;
                padding-bottom: 12px;
                padding-left: 48px;
                padding-right: 48px;
                text-align: center;
            }

            .buttons {
               
            
                .button {
                    display: inline-block;
                    height: 48px; 
                    border: solid 1px #A6401B;
                    border-radius: 4px;
                    margin: 0 8px;
                    background-color: #F28B30;

                    a {
                        padding: 0px 24px;
                        color: #fff;
                        display: block;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        line-height: 48px;

                        i {
                            padding-right: 8px;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

    }

    .info-wrapper {
        height: 600px;
        background-image: url(/assets/imgs/cortney.jpg?v=1);
        background-size: 282px 400px;
        background-repeat: no-repeat;
        background-position: center 40%;

        .certs {
            display: flex;
            flex-flow: column nowrap;
            box-sizing: border-box;
            padding: 50px 24px;
            height: 100%;

            .cert {
                padding: 8px 0;

                i {
                    width: 24px;
                }
            }
        }

        .about-me {
            height: 100%;
        }

        
    }

    @include media-breakpoint-down(md) {
        .info-wrapper {
            background-position: 50% 100px;
            height: unset;

            .about-me {
                display: block;
                margin-top: 440px;
            }

            .col {
                display: block;
            }

            .col-middle {
                display: none;
            }

            .certs {
                height: unset;
                padding: 12px;
                align-items: center;
            }
        }
    }

    >footer {
        background-color: rgb(245,245,245);
        min-height: 100px;
        color: rgb(118,118,118);
        text-align: center;
        padding: 24px;
    }
}