
#root {

    color: #fff;
  
    #hero {
        background-repeat: no-repeat;
        background-size: cover;
        height: 80%;
        width: 100wv;
        padding-top: 50px;
        background-position: center;
    }

    >header {
        position: fixed;
        top: 0; 
        left: 0;
        width: 100vw;
    }
   
}

body {
    &.layout-1 {
        #hero {
            background-image: url(/assets/imgs/flowing-stream-blue-overlay.jpg);
        }
    }

    &.layout-2 {
        #hero {
            background-image: url(/assets/imgs/bright-autumn-forest-radial.jpg);
        }
    }

    &.layout-3 {
        #root {
            background-image: url(/assets/imgs/curved-road-in-autumn-forest-CV42K4B.jpg);
        }
    }
}

