---
---

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/8015b9f9a1.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/styles/site.css" />
    </head>
    <body class="{{ page.bodyClass }}">
        <div id="root">
            {{ content }}
            <footer>
                &copy; Up North Notary {{ "now" | date: "%Y" }}
            </footer>
        </div>
    </body>
</html>